.container {
    margin-bottom: 12px;
}

.list-cart {
    padding: 12px 0;
}

.item-cart {
    display: flex;
    align-items: center;
    padding: 0 4px;

    &:hover {
        background-color: rgb(243, 241, 241);
    }
}

.image {
    width: 120px;
    height: 80px;
    border-radius: 4px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .title {
        font-size: 1.8rem;
        color: var(--text-black);
        margin-bottom: 12px;
        font-weight: 500;
        overflow-y: hidden;
    }

    .price {
        font-size: 1.4rem;
        color: var(--primary-color);
    }
}

.isPayment {
    float: right;
    background-color: red;
    color: white;
    font-weight: 600;
    padding: 0px 14px;
    margin-right: 12px;
    border-radius: 6px;
}
